<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Welcome <small>{{ message }}</small></h3>
	</div>
	<div class="panel-body">
		<form novalidate="">
			<label>Email:</label><br>
			<input class="form-control" type="email" ng-model="user.email" placeholder="Email"><br>
			<label>Password:</label><br>
			<input class="form-control" type="password" ng-model="user.password" placeholder="Password"><br>
			<button type="submit" ng-click="loginUser(user)" class="btn btn-default">Connect</button>
		</form>
		<p style="color:{{color}}">{{ status }}</p>
		<p>Not having an account please <a href="#signup">sign up</a></p>
	</div>
</div>