<div id="page-wrapper">	
	<div class="container-fluid">
		<!-- Page Heading -->
		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">
					Registration
					<small>Please select your status</small>
				</h1>
				<form class="form-group">
					<input type="radio" name="userType" class="btn btn-default" ng-click="changeType(1)">ONG Agent<br>
					<input type="radio" name="userType" class="btn btn-default" ng-click="changeType(2)">Dentist<br>
					<input type="radio" name="userType" class="btn btn-default" ng-click="changeType(3)">Operator<br>
					<button type="submit" onclick="window.location.href='#/'" class="btn btn-default" ng-show="user.type == 0">Return</button>
				</form>

				<div id="ongForm" ng-show="user.type == 1">
					<form novalidate="">
						<label>Email:</label><br>
						<input class="form-control" type="email" ng-model="user.email" placeholder="Email"><br>
						<label>Password:</label><br>
						<input class="form-control" type="password" ng-model="user.password" placeholder="Password"><br>
						<label>Confirm password:</label><br>
						<input class="form-control" type="password" ng-model="user.cPassword" placeholder="Confirm password"><br>
						<label>Address:</label><br>
						<input class="form-control" type="text" ng-model="user.address" placeholder="Address"><br>
						<label>C.I.N:</label><br>
						<input class="form-control" type="text" ng-model="user.cin" placeholder="C.I.N"><br>
						<button type="submit" ng-click="registerUser(user)" class="btn btn-default">Register</button>
						<button type="submit" onclick="window.location.href='#/'" class="btn btn-default">Return</button>
					</form>
				</div>
				
				<div id="dentistForm" ng-show="user.type == 2">
					<form novalidate="">
						<label>Email:</label><br>
						<input class="form-control" type="email" ng-model="user.email" placeholder="Email"><br>
						<label>Password:</label><br>
						<input class="form-control" type="password" ng-model="user.password" placeholder="Password"><br>
						<label>Confirm password:</label><br>
						<input class="form-control" type="password" ng-model="user.cPassword" placeholder="Confirm password"><br>
						<label>Address:</label><br>
						<input class="form-control" type="text" ng-model="user.address" placeholder="Address"><br>
						<label>C.I.N:</label><br>
						<input class="form-control" type="text" ng-model="user.cin" placeholder="C.I.N"><br>
						<label>Matricule:</label><br>
						<input class="form-control" type="text" ng-model="user.matricule" placeholder="Matricule"><br>
						<button type="submit" ng-click="registerUser(user)" class="btn btn-default">Register</button>
						<button type="submit" onclick="window.location.href='#/'" class="btn btn-default">Return</button>
					</form>
				</div>
				
				<div id="operatorForm" ng-show="user.type == 3">
					<form novalidate="">
						<label>Email:</label><br>
						<input class="form-control" type="email" ng-model="user.email" placeholder="Email"><br>
						<label>Password:</label><br>
						<input class="form-control" type="password" ng-model="user.password" placeholder="Password"><br>
						<label>Confirm password:</label><br>
						<input class="form-control" type="password" ng-model="user.cPassword" placeholder="Confirm password"><br>
						<label>Address:</label><br>
						<input class="form-control" type="text" ng-model="user.address" placeholder="Address"><br>
						<label>C.I.N:</label><br>
						<input class="form-control" type="text" ng-model="user.cin" placeholder="C.I.N"><br>
						<button type="submit" ng-click="registerUser(user)" class="btn btn-default">Register</button>
						<button type="submit" onclick="window.location.href='#/'" class="btn btn-default">Return</button>
					</form>
				</div>
				<div class="alert alert-info">
					<p>{{message}}</p>
				</div>
			</div>
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</div>